article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
html,button,input,select,textarea{font-family:sans-serif}
body{margin:0}
a:focus{outline:thin dotted}
a:active,a:hover{outline:0}
h1{font-size:2em;margin:.67em 0}
h2{font-size:1.5em;margin:.83em 0}
h3{font-size:1.17em;margin:1em 0}
h4{font-size:1em;margin:1.33em 0}
h5{font-size:.83em;margin:1.67em 0}
h6{font-size:.75em;margin:2.33em 0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
blockquote{margin:1em 40px}
dfn{font-style:italic}
mark{background:#ff0;color:#000}
p,pre{margin:1em 0}
code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}
q{quotes:none}
q:before,q:after{content:'';content:none}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
dl,menu,ol,ul{margin:1em 0}
dd{margin:0 0 0 40px}
menu,ol,ul{padding:0 0 0 40px}
nav ul,nav ol{list-style:none;list-style-image:none}
img{border:0;-ms-interpolation-mode:bicubic}
svg:not(:root){overflow:hidden}
figure{margin:0}
form{margin:0}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}
button,input{line-height:normal}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}
button[disabled],input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;*height:13px;*width:13px}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top}
table{border-collapse:collapse;border-spacing:0}
.grid,.grid-1,.grid-2,.grid-3,.grid-4{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:block;float:left;margin-bottom:20px;padding-left:40px;padding-right:40px;position:relative;width:100%}
.no-pad{padding-left:0;padding-right:0}
@media screen and (min-width: 481px) and (max-width: 720px){.grid-1{width:100%}
.grid-2{width:50%}
.grid-3{width:100%}
.grid-4{width:100%}
}@media screen and (min-width: 721px){.grid-1{width:25%}
.grid-2{width:50%}
.grid-3{width:75%}
.grid-4{width:100%}
}a{text-decoration:none;}
a:hover{text-decoration:underline}
ul{margin:0 0 20px}
h1{font-size:28px;line-height:40px;margin:0}
h2{font-size:22px;line-height:40px}
hgroup{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0 40px;width:100%}
nav{background-color:#000;background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #0f0f11), color-stop(1, #000));background-image:-webkit-linear-gradient(top, #0f0f11 0%, #000 100%);background-image:-moz-linear-gradient(top, #0f0f11 0%, #000 100%);background-image:-o-linear-gradient(top, #0f0f11 0%, #000 100%);background-image:-ms-linear-gradient(top, #0f0f11 0%, #000 100%);background-image:linear-gradient(top, #0f0f11 0%, #000 100%);border-bottom:4px solid #202022;-webkit-box-shadow:0 1px 0 0 #0f0f11,0 1px 0 1px #202022;box-shadow:0 1px 0 0 #0f0f11,0 1px 0 1px #202022;color:#f1f1ff;height:auto;margin-bottom:16px;min-height:40px;width:100%;}
nav a{display:block;font-size:14px;padding:10px 40px}
nav li{display:block;float:left;position:relative;}
nav li.current a{color:#39c}
nav li.current::before{background:#000;background-image:-webkit-radial-gradient(50% 100%, farthest-side, #39c 0%, rgba(16,16,51,0) 100%);background-image:-moz-radial-gradient(50% 100%, farthest-side, #39c 0%, rgba(16,16,51,0) 100%);background-image:-o-radial-gradient(50% 100%, farthest-side, #39c 0%, rgba(16,16,51,0) 100%);background-image:radial-gradient(50% 100%, farthest-side, #39c 0%, rgba(16,16,51,0) 100%);border-bottom:1px solid #000;bottom:0;content:'';display:block;height:9px;left:50%;margin-left:-40px;position:absolute;width:80px;z-index:1}
nav li.current::after{background:#000;background-image:-webkit-radial-gradient(55% 45%, farthest-corner, #101033 0%, rgba(16,16,51,0) 100%);background-image:-moz-radial-gradient(55% 45%, farthest-corner, #101033 0%, rgba(16,16,51,0) 100%);background-image:-o-radial-gradient(55% 45%, farthest-corner, #101033 0%, rgba(16,16,51,0) 100%);background-image:radial-gradient(55% 45%, farthest-corner, #101033 0%, rgba(16,16,51,0) 100%);border-bottom:1px solid #202022;border-left:1px solid #202022;bottom:-6px;content:'';display:block;height:10px;left:50%;margin-left:-5px;position:absolute;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);width:10px}
nav ul{zoom:1;margin:auto;max-width:880px;padding:0;width:100%}
nav ul:before,nav ul:after{content:"";display:table}
nav ul:after{clear:both}
html{background:#0f0f11 url("/images/dark_stripe.png") top left repeat;color:#f1f1ff;font:14px 'Helvetica Neue',Arial,Helvetica,FreeSans,sans-serif;line-height:20px}
body{margin:0}
header{width:100%}
article{margin:0 auto;max-width:960px;width:100%}
section{zoom:1;float:left}
section:before,section:after{content:"";display:table}
section:after{clear:both}
footer{clear:both;width:100%;}
footer hgroup{float:none;margin:0 auto;max-width:960px;width:100%}
.grid-1 span{background:#000;border:1px solid #202022;-webkit-border-radius:4px;border-radius:4px;display:block;text-align:center;}
.grid-1 span:hover{background:#202022;border-color:#808084}
.grid-2 span{background:#000;border:1px solid #202022;-webkit-border-radius:4px;border-radius:4px;display:block;text-align:center;}
.grid-2 span:hover{background:#202022;border-color:#808084}
.grid-3 span{background:#000;border:1px solid #202022;-webkit-border-radius:4px;border-radius:4px;display:block;text-align:center;}
.grid-3 span:hover{background:#202022;border-color:#808084}
.grid-4 span{background:#000;border:1px solid #202022;-webkit-border-radius:4px;border-radius:4px;display:block;text-align:center;}
.grid-4 span:hover{background:#202022;border-color:#808084}
