$accent-font-stack = 'omnes-pro', $sans-serif
$body-font-stack = 'omnes-pro', $sans-serif

html
  font-family: $body-font-stack
  font-size: $font-base
  font-weight: 400

a
  color: hashGet($colors, "mid-" + $main-color)
  text-decoration: none
  transition: color 0.25s ease

  &:hover
    color: hashGet($colors, "bright-" + $main-color)
    text-decoration: underline

p
  margin: 0 0 $line-base

ul, ol
  margin: 0 0 $line-base

h1, .h1
  font-family: $accent-font-stack
  font-size: $font-biggest
  font-weight: bold
  line-height: $line-base * 2
  margin: 0 0 $line-base
  text-shadow: 0 2px 5px $black

h2, .h2
  @extend h1
  font-size: $font-bigger
  font-weight: 300


h3, .h3
  @extend h1
  font-size: $font-base
  line-height: $line-base

hgroup
  box-sizing: border-box
  padding: 0 $gutter-width
  width: 100%

hr
  border: 1px solid $white
  border-width: 0 0 1px 0
  height: 0
  margin: 0 0 $line-base - 1
  padding: 0
  width: 100%