a
  color: hashGet($colors, "mid-" + $main-color)
  text-decoration: none

  &:hover
    color: hashGet($colors, "bright-" + $main-color)
    text-decoration: underline

p
  margin: 0 0 $line-base

ul
  margin: 0 0 $line-base

h1
  font-size: $font-biggest
  line-height: $line-base * 2
  margin: 0 0 $line-base

h2
  font-size: $font-bigger
  line-height: $line-base * 2
  margin: 0 0 $line-base

h3
  font-size: $font-base
  line-height: $line-base
  margin: 0 0 $line-base

hgroup
  box-sizing: border-box
  padding: 0 $gutter-width
  width: 100%
