a
  text-decoration: none

  &:hover
    text-decoration: underline

ul
  margin: 0 0 $line-base

h1
  font-size: $font-biggest
  line-height: $line-base * 2
  margin: 0

h2
  font-size: $font-bigger
  line-height: $line-base * 2

hgroup
  box-sizing: border-box
  padding: 0 $gutter-width
  width: 100%