// Colors
$true-black = #000000
$black = #0F0F11
$dark-gray = #202022
$gray = #808084
$white = #F1F1FF
$true-white = #FFFFFF

$dark-blue = #101033
$mid-blue = #116699
$bright-blue = #3399CC

$dark-red = #440412
$mid-red = #9C1123
$bright-red = #C23150

$dark-yellow = #503412
$mid-yellow = #D3A646
$bright-yellow = #F4D07B

$dark-green = #093715
$mid-green = #178F47
$bright-green = #5CB860

$dark-purple = #24122A
$mid-purple = #7449A0
$bright-purple = #906FB9

$dark-orange = #5F1004
$mid-orange = #A2321F
$bright-orange = #E86A37

$main-color = "blue"
$link-color = $bright-blue
$link-hover = $bright-purple

$colors = ("true-black" $true-black) ("black" $black) ("dark-gray" $dark-gray) ("gray" $gray) ("white" $white) ("true-white" $true-white) ("dark-blue" $dark-blue) ("mid-blue" $mid-blue) ("bright-blue" $bright-blue) ("dark-red" $dark-red) ("mid-red" $mid-red) ("bright-red" $bright-red) ("dark-yellow" $dark-yellow) ("mid-yellow" $mid-yellow) ("bright-yellow" $bright-yellow) ("dark-green" $dark-green) ("mid-green" $mid-green) ("bright-green" $bright-green) ("dark-purple" $dark-purple) ("mid-purple" $mid-purple) ("bright-purple" $bright-purple) ("dark-orange" $dark-orange) ("mid-orange" $mid-orange) ("bright-orange" $bright-orange)

// Border Sizes
$border-alert = 5px
$border-nav-bottom = 5px
$border-button = 1px

// Border Radii
$border-button-radius = 4px

// Grid
$columns = 4
$container-width = 480px
$container-medium-width = 720px
$container-large-width = 960px
$gutter-width = 20px
$stripe-size = 20px

// Typography
$font-base = 16px
$font-bigger = 32px
$font-biggest = 48px
$sans-serif = 'Helvetica Neue', Arial, Helvetica, sans-serif
$line-base = 24px

// Media Queries
$medium-width = "screen and (min-width: " + ($container-width + 1) + ") and (max-width: " + $container-medium-width + ")"
$large-width = "screen and (min-width: " + $container-medium-width + ")"
