// Colors
$true-black = #000000
$black = #0F0F11
$dark-gray = #202022
$gray = #808084
$white = #F1F1FF

$dark-blue = #101033
$mid-blue = #116699
$bright-blue = #3399CC

$dark-red = #440412
$mid-red = #9C1123
$bright-red = #C23150

$dark-yellow = #282A12
$mid-yellow = #b39d3e
$bright-yellow = #E4CA6B

$dark-green = #093715
$mid-green = #178F47
$bright-green = #5CB860

$dark-purple = #24122A
$mid-purple = #7449A0
$bright-purple = #906FB9

$colors = ("true-black" $true-black) ("black" $black) ("dark-gray" $dark-gray) ("gray" $gray) ("white" $white) ("dark-blue" $dark-blue) ("mid-blue" $mid-blue) ("bright-blue" $bright-blue) ("dark-red" $dark-red) ("mid-red" $mid-red) ("bright-red" $bright-red) ("dark-yellow" $dark-yellow) ("mid-yellow" $mid-yellow) ("bright-yellow" $bright-yellow) ("dark-green" $dark-green) ("mid-green" $mid-green) ("bright-green" $bright-green) ("dark-purple" $dark-purple) ("mid-purple" $mid-purple) ("bright-purple" $bright-purple)

// Border Sizes
$border-alert = 5px
$border-nav-bottom = 5px

// Grid
$columns = 4
$container-width = 480px
$container-medium-width = 720px
$container-large-width = 960px
$gutter-width = 20px

// Typography
$font-base = 14px
$font-bigger = 22px
$font-biggest = 28px
$sans-serif = 'Helvetica Neue', Arial, Helvetica, FreeSans, sans-serif
$line-base = 20px

// Media Queries
$medium-width = "screen and (min-width: " + ($container-width + 1) + ") and (max-width: " + $container-medium-width + ")"
$large-width = "screen and (min-width: " + $container-medium-width + ")"
