extends layout

block body
  article
    p Well this sure is something
  footer
    hgroup
      h1
        | Need help? Check out our <a href="https://github.com/iaman/til" target="_blank">github repo</a> or send an email to <a href="mailto:ianodea@gmail.com">ianodea@gmail.com</a>
