!!! 5

html
  head
    title #{title}
    script(src='/js/application.js', type='text/javascript')
    //script(src='/js/backboneApp.js', type='text/javascript')
    link(href='/css/default.css', type='text/css', rel='stylesheet')
    link(href='/images/favicon.ico', rel='SHORTCUT ICON')
    script(src='//use.typekit.net/zll1yrc.js', type='text/javascript')
    script(type='text/javascript')
      try{Typekit.load();}catch(e){}
    meta(name='viewport',content='width=device-width, initial-scale=1')


  body(ontouchstart)
    header
      nav
        ul
          - var navigation = [{'name':'Home','url':'/','classes':[]},{'name':'Styleguide','url':'/styleguide','classes':['right']}]
          - for item in navigation
            - if (item.name == page)
              - item.classes.push('current')
            li(class=item.classes)
              a(href="#{item.url}") #{item.name}

    block body

    footer
      hgroup
        h1
          | Need help? Check out our <a href="https://github.com/iaman/til" target="_blank">github repo</a></a>
