extends layout

block body
  article
    section
      hgroup
        h1 Holy crap it's a styleguide

    section
      .grid-4
        .alerts
          .alert
            p This is a general alert
        .alerts-success
          .alert
            p This one's a SUCCESS
          .alert
            p So is this one!
        .alerts-warning
          .alert
            p Whoa, this one's a warning!
        .alerts-error
          .alert
            p And this is an error!
          .alert
            p You really screwed up!
          .alert
            p No, I mean, seriously! You done bad!

    .slice
      section
        .grid-4
          p This is a slice

    .slice-fiber
      section
        .grid-4
          p This is a fiber slice

    .slice
      .alerts
        .alert
          p Look, you can even put alerts in slices! What madness is this?
      .alerts-success
        .alert
          p This is really just here to demonstrate what multiple alert types look like in a slice

    section#grid
      hgroup
        h2 This is the grid system
      .grid-4
        span 4
      .grid-3
        span 3
      .grid-1
        span 1
      .grid-2
        span 2
      .grid-2
        span 2
      .grid-1
        span 1
      .grid-3
        span 3
      .grid-1
        span 1
      .grid-1
        span 1
      .grid-1
        span 1
      .grid-1
        span 1

    section
      hgroup
        h2 And here's some freakin colors or something

      .swatch.grid-2
        .bright-blue
          span bright-blue #3399CC
        .mid-blue
          span mid-blue #116699
        .dark-blue
          span dark-blue #101033

      .swatch.grid-2
        .bright-red
          span bright-red #C23150
        .mid-red
          span mid-red #9C1123
        .dark-red
          span dark-red #440412

      .swatch.grid-2
        .bright-yellow
          span bright-yellow #F4D07B
        .mid-yellow
          span mid-yellow #D3A646
        .dark-yellow
          span dark-yellow #503412

      .swatch.grid-2
        .bright-green
          span bright-green #5CB860
        .mid-green
          span mid-green #178F47
        .dark-green
          span dark-green #093715

      .swatch.grid-2
        .bright-purple
          span bright-purple #906FB9
        .mid-purple
          span mid-purple #7449A0
        .dark-purple
          span dark-purple #24122A

      .swatch.grid-2
        .bright-orange
          span bright-orange #E86A37
        .mid-orange
          span mid-orange #A2321F
        .dark-orange
          span dark-orange #5F1004

      .swatch.grid-4
        .true-white
          span true-white #FFFFFF
        .white
          span white #F1F1FF
        .gray
          span gray #808084
        .dark-gray
          span dark-gray #202022
        .black
          span black #0F0F11
        .true-black
          span true-black #000000

    section
      hgroup
        h2 Buttons!

      .grid-1
        button Normal button
        button.large Large button

      .grid-1
        input(type="button", value="Caution button").caution Caution button
        input(type="button", value="Caution button").caution.large Caution button

      .grid-1
        .button.danger Danger button
        .button.danger.large Danger button

      .grid-1
        a.button.success Success button
        a.button.success.large Success button

      .grid-1
        button.disabled Disabled button
        button.disabled.large Disabled button

      .grid-1
        button.purple Purple button
        button.purple.large Purple button

      .grid-1
        button.orange Orange button
        button.orange.large Orange button

    section
      hgroup
        h2 Typography or something

      .grid-4
        .h1 h1 The five boxing wizards jump quickly.
        .h2 h2 The five boxing wizards jump quickly.
        .h3 h3 The five boxing wizards jump quickly.
        p p The five boxing wizards jump quickly.

        ul
          li ul li The five boxing wizards jump quickly.
          li The five boxing wizards jump quickly.
            br
            ul
              li ul ul li The five boxing wizards jump quickly.
              li The five boxing wizards jump quickly.
                br
                ul
                  li ul ul ul li The five boxing wizards jump quickly.
                  li The five boxing wizards jump quickly.

        ol
          li ol li The five boxing wizards jump quickly.
          li The five boxing wizards jump quickly.
            br
            ol
              li ol ol li The five boxing wizards jump quickly.
              li The five boxing wizards jump quickly.
                br
                ol
                  li ol ol ol li The five boxing wizards jump quickly.
                  li The five boxing wizards jump quickly.
    section
      hgroup
        h2 Progress Bars!

      .grid-4
        progress(value="21",max="100").in-danger
        progress(value="42",max="100")
        progress(value="84",max="100").on-track
        progress
