extends layout

block body
  article
    section
      hgroup
        h1 Holy crap it's a styleguide

    section
      .grid-4
        .alerts
          .alert
            p This is a general alert
        .alerts-success
          .alert
            p This one's a SUCCESS
          .alert
            p So is this one!
        .alerts-warning
          .alert
            p Whoa, this one's a warning!
        .alerts-error
          .alert
            p And this is an error!
          .alert
            p You really screwed up!
          .alert
            p No, I mean, seriously! You done bad!

    .slice
      section
        .grid-4
          p This is a slice

    .slice-fiber
      section
        .grid-4
          p This is a fiber slice

    .slice
      .alerts
        .alert
          p Look, you can even put alerts in slices! What madness is this?
      .alerts-success
        .alert
          p This is really just here to demonstrate what multiple alert types look like in a slice

    section#grid
      hgroup
        h2 This is the grid system
      .grid-4
        span 4
      .grid-3
        span 3
      .grid-1
        span 1
      .grid-2
        span 2
      .grid-2
        span 2
      .grid-1
        span 1
      .grid-3
        span 3
      .grid-1
        span 1
      .grid-1
        span 1
      .grid-1
        span 1
      .grid-1
        span 1

    section
      hgroup
        h2 And here's some freakin colors or something

      .swatch.grid-1
        .bright-blue
          span .bright-blue #3399CC
        .mid-blue
          span .mid-blue #116699
        .dark-blue
          span .dark-blue #101033

      .swatch.grid-1
        .bright-red
          span .bright-red #C23150
        .mid-red
          span .mid-red #9C1123
        .dark-red
          span .dark-red #440412

      .swatch.grid-1
        .bright-yellow
          span .bright-yellow #E4CA6B
        .mid-yellow
          span .mid-yellow #b39d3e
        .dark-yellow
          span .dark-yellow #282A12

      .swatch.grid-1
        .bright-green
          span .bright-green #5CB860
        .mid-green
          span .mid-green #178F47
        .dark-green
          span .dark-green #093715

      .swatch.grid-1
        .bright-purple
          span .bright-purple #906FB9
        .mid-purple
          span .mid-purple #7449A0
        .dark-purple
          span .dark-purple #24122A

      .swatch.grid-1
        .bright-orange
          span .bright-orange
        .mid-orange
          span .mid-orange
        .dark-orange
          span .dark-orange
