.alerts
  background-color: $bright-blue
  background-position: top left
  background-repeat: repeat
  border: $border-alert solid $dark-blue
  border-bottom: $border-alert solid $mid-blue
  border-radius: $border-alert-radius
  box-shadow: 0 1px 3px rgba($dark-blue,0.5), inset 0 10px 10px -10px $black
  color: $dark-blue
  image: "/images/dark_transparent_stripe.png" 20px 20px
  margin-bottom: $line-base
  padding: $line-base - ($line-base / 4) - $border-alert
  text-shadow: 0 1px 1px $dark-blue

  p
    margin-bottom: 0
    width: 100%

  .alert
    clearfix()
    background: $bright-blue
    margin-bottom: ($line-base / 2)
    padding: ($line-base / 4)
    position: relative

    &:last-child
      margin-bottom: 0

.alerts-error
  @extend .alerts
  background-color: $bright-red
  border-color: $dark-red
  border-bottom-color: $mid-red
  box-shadow: 0 1px 3px rgba($dark-red,0.5), inset 0 10px 10px -10px $black
  color: $dark-red
  text-shadow: 0 1px 1px $dark-red

  .alert
    background: $bright-red

.alerts-success
  @extend .alerts
  background-color: $bright-green
  border-color: $dark-green
  border-bottom-color: $mid-green
  box-shadow: 0 1px 3px rgba($dark-green,0.5), inset 0 10px 10px -10px $black
  color: $dark-green
  text-shadow: 0 1px 1px $dark-green

  .alert
    background: $bright-green

.alerts-warning
  @extend .alerts
  background-color: $bright-yellow
  border-color: $dark-yellow
  border-bottom-color: $mid-yellow
  box-shadow: 0 1px 3px rgba($dark-yellow,0.5), inset 0 10px 10px -10px $black
  color: $dark-yellow
  text-shadow: 0 1px 1px $dark-yellow

  .alert
    background: $bright-yellow

.slice, .slice-fiber
  .alerts, .alerts-error, .alerts-success, .alerts-warning
    border-left-width: 0
    border-right-width: 0

    &:first-child
      margin-top: 0
    &:last-child
      margin-bottom: 0
