button-color(buttonColor)
  background: hashGet($colors, "mid-" + buttonColor)
  background-image: linear-gradient($white, hashGet($colors, "bright-" + buttonColor) 1px, hashGet($colors, "mid-" + buttonColor) 2px)
  border-color: hashGet($colors, "dark-" + buttonColor)
  box-shadow: inset 0 0 2px hashGet($colors, "bright-" + buttonColor), 0 ($line-base / 4) 0 hashGet($colors, "dark-" + buttonColor), 0 ($line-base / 4) ($line-base / 2) $black

  &:hover
    box-shadow: inset 0 0 2px hashGet($colors, "bright-" + buttonColor), 0 ($line-base / 4) + 2 0 hashGet($colors, "dark-" + buttonColor), 0 ($line-base / 4) + 1 ($line-base / 2) + 2 $black

  &:active
    box-shadow: inset 0 0 2px hashGet($colors, "bright-" + buttonColor), 0 1px 0 hashGet($colors, "dark-" + buttonColor), 0 1px ($line-base / 4) $black

button, input[type="button"], .button
  button-color("blue")
  border-radius: $border-button-radius
  border-width: $border-button
  border-style: solid
  box-sizing: border-box
  clear: both
  color: $white
  display: block
  float: left
  font-weight: bold
  line-height: $line-base
  margin-bottom: $line-base
  max-width: 100%
  padding: ($line-base / 2) - $border-button ($gutter-width / 2)
  position: relative
  text-align: center
  text-shadow: 0 1px 1px $black
  top: 0
  transition: box-shadow 0.1s ease, background-color 0.1s ease, top 0.1s ease
  white-space: normal
  width: 100%

  &.large
    font-size: $font-bigger
    line-height: $line-base * 2
    padding: ($line-base / 2) - $border-button ($gutter-width / 2)

  &.huge
    font-size: $font-biggest
    line-height: $line-base * 2
    padding: $line-base - $border-button $gutter-width
    text-transform: uppercase


  &:visited
    color: $white

  &:hover
    top: -2px

  &:active
    top: ($line-base / 4) - 1

  &.success
    button-color("green")

  &.caution
    button-color("yellow")

  &.danger
    button-color("red")

@media $medium-width
  button, input[type="button"], .button
    width: auto

@media $large-width
  button, input[type="button"], .button
    width: auto
