button-color(buttonColor)
  background: hashGet($colors, "mid-" + buttonColor)
  background-image: linear-gradient($white, hashGet($colors, "bright-" + buttonColor) 1px, hashGet($colors, "mid-" + buttonColor) 2px)
  border-color: hashGet($colors, "dark-" + buttonColor)
  box-shadow: inset 0 -1px 1px 1px hashGet($colors, "bright-" + buttonColor), 0 ($line-base / 4) 0 hashGet($colors, "dark-" + buttonColor), 0 ($line-base / 4) ($line-base / 2) $black

  &:hover
    background-image: linear-gradient($white, hashGet($colors, "bright-" + buttonColor) 1px, hashGet($colors, "mid-" + buttonColor) 3px)
    box-shadow: inset 0 -1px 1px 1px hashGet($colors, "bright-" + buttonColor), 0 ($line-base / 4) + 2 0 hashGet($colors, "dark-" + buttonColor), 0 ($line-base / 4) + 2 ($line-base / 2) + 2 $black

  &:active
    background-image: linear-gradient($white, hashGet($colors, "mid-" + buttonColor) 1px)
    box-shadow: inset 0 -1px 1px 1px hashGet($colors, "bright-" + buttonColor), 0 1px 0 hashGet($colors, "dark-" + buttonColor), 0 1px ($line-base / 4) $black

button, input[type="button"], .button
  button-color("blue")
  border-radius: $border-button-radius - 1 $border-button-radius - 1 $border-button-radius $border-button-radius
  border-width: $border-button
  border-style: solid
  box-sizing: border-box
  clear: both
  color: $white
  cursor: pointer
  display: block
  float: left
  font-family: $body-font-stack
  font-weight: bold
  line-height: $line-base
  margin-bottom: $line-base
  max-width: 100%
  overflow: hidden
  padding: ($line-base / 2) - $border-button ($gutter-width / 2)
  position: relative
  text-align: center
  text-shadow: 0 1px 1px $black
  top: 0
  transition: box-shadow 0.1s ease, background-color 0.1s ease, text-shadow 0.1s ease, top 0.1s ease
  white-space: normal
  width: 100%

  &:last-child
    margin-bottom: 0

  &.large
    float: none
    font-size: $font-bigger
    line-height: $line-base * 2
    padding: $line-base - $border-button $gutter-width
    text-shadow: 0 1px 3px $black, 0 1px 1px $gray
    text-transform: uppercase

  &:visited
    color: $white

  &:hover
    color: $white
    top: -2px
    text-decoration: none

  &:active
    top: ($line-base / 4) - 1

  &.success
    button-color("green")

  &.caution
    button-color("yellow")

  &.danger
    button-color("red")

  &.disabled
    background: $gray
    background-image: none
    border-color: $dark-gray
    box-shadow: inset 0 -1px 1px 1px $gray, 0 ($line-base / 4) 0 $dark-gray, 0 ($line-base / 4) ($line-base / 2) $black
    cursor: auto
    image: "../images/dark_transparent_stripe.png" $stripe-size $stripe-size

    &:hover
      top: 0

    &:active
      top: 0

  for buttonColor in "blue" "red" "yellow" "green" "purple" "orange"
    &.{unquote(buttonColor)}
      button-color(buttonColor)

@media $medium-width
  button, input[type="button"], .button
    width: auto

    &.grid-2
      width: 50%

    &.grid-1, &.grid-3, &.grid-4, &.large
      width: 100%

@media $large-width
  button, input[type="button"], .button
    width: auto

    &.grid-1
      width: 25%

    &.grid-2
      width: 50%

    &.grid-3
      width: 75%

    &.grid-4, &.large
      width: 100%
