.card
  background: rgba($black, 0.75)
  border: 1px solid $dark-gray
  border-radius: 8px
  position: relative

  figure
    border-bottom: 1px solid $dark-gray
    border-radius: top 8px
    height: $line-base * 4 - 1
    margin-bottom: $line-base - 1
    overflow: hidden
    width: 100%

    img
      height: auto
      width: 100%

  hgroup
    margin-bottom: $line-base

    h1, h2, h3
      margin-bottom: 0

  hgroup, .card-contents
    &:first-child
      margin-top: $line-base - 1

    &:last-child
      margin-bottom: $line-base - 1

  hr
    border-color: $dark-gray

  for cardColor in "green" "red" "blue" "yellow" "orange" "purple"
    &.{unquote(cardColor)}
      background-color: rgba(hashGet($colors, "dark-" + cardColor), 0.5)
      border-color: hashGet($colors, "mid-" + cardColor)

      figure, hr
        border-color: hashGet($colors, "mid-" + cardColor)

.card-contents
  clearfix()
  padding: 0 $gutter-width

@media $medium-width
  .card figure
    height: $line-base * 8 - 1
  .grid-2 .card figure
    height: $line-base * 4 - 1

@media $large-width
  .card figure
    height: $line-base * 12 - 1

  .grid-2 .card figure
    height: $line-base * 8 - 1

  .grid-1 .card figure
    height: $line-base * 4 - 1
