nav
  background-color: $true-black
  background-image: linear-gradient($black,$true-black)
  border-bottom: 4px solid $dark-gray
  box-shadow: 0 1px 0 0 $black, 0 1px 0 1px $dark-gray
  color: $white
  height: auto
  margin-bottom: $line-base - 4px
  min-height: 2 * $line-base
  width: 100%

  a
    display: block
    font-size: $font-base
    padding: ($line-base / 2) $gutter-width

  li
    display: block
    float: left
    position: relative

    &.current
      a
        color: $bright-blue

      &::before
        background: $true-black
        radial-gradients("50% 100%, farthest-side, " + $bright-blue + " 0%, " + rgba($dark-blue, 0) + " 100%")
        border-bottom: 1px solid $true-black
        bottom: 0
        content: ''
        display: block
        height: 9px
        left: 50%
        margin-left: -1 * floor($gutter-width)
        position: absolute
        width: $gutter-width * 2
        z-index: 1

      &::after
        background: $true-black
        radial-gradients("55% 45%, farthest-corner, " + $dark-blue + " 0%, " + rgba($dark-blue, 0) + " 100%")
        border-bottom: 1px solid $dark-gray
        border-left: 1px solid $dark-gray
        bottom: -6px
        content: ''
        display: block
        height: 10px
        left: 50%
        margin-left: -5px
        position: absolute
        transform: rotate(-45deg)
        width: 10px

  ul
    clearfix()
    margin: auto
    max-width: $container-width - ($gutter-width * 2)
    padding: 0
    width: 100%