@keyframes stripe-down
  0%
    background-position: 0 0
  100%
    background-position: 0 $stripe-size

@keyframes stripe-up
  0%
    background-position: 0 0
  100%
    background-position: 0 (-1 * $stripe-size)

progressColors(progress-color, mid-color = "mid-" + progress-color, dark-color = "dark-" + progress-color, bright-color = "bright-" + progress-color)
  animation-duration: 0.75s
  animation-iteration-count: infinite
  animation-name: 'stripe-down'
  animation-timing-function: linear
  background-color: hashGet($colors, mid-color)
  background-image: url("../images/dark_transparent_stripe.png"), linear-gradient($white, hashGet($colors, bright-color) 1px, hashGet($colors, mid-color) 2px)
  border: 1px solid hashGet($colors, dark-color)
  box-shadow: inset 0 -1px 1px 1px rgba(hashGet($colors, bright-color), 0.5), 0 3px 0 hashGet($colors, dark-color)

  @media all and (-webkit-min-device-pixel-ratio: 1.5)
    &
      background-image: url("../images/dark_transparent_stripe@2x.png"), linear-gradient($white, hashGet($colors, bright-color) 1px, hashGet($colors, mid-color) 2px)
      background-size: $stripe-size $stripe-size, auto

defaultProgress()
  progressColors("blue")
  border-radius: $border-button-radius - 1 $border-button-radius - 1 $border-button-radius $border-button-radius
  position: relative
  top: -3px
  transition: all 1s ease

progress
  -webkit-appearance: none
  background-color: $black
  border-radius: $border-button-radius - 1 $border-button-radius - 1 $border-button-radius $border-button-radius
  border: 1px solid $dark-gray
  box-sizing: border-box
  color: $mid-blue
  display: block
  height: $line-base * 2
  margin-bottom: $line-base
  padding: 0 1px 1px
  position: relative
  transitions("all 1s ease")
  transition: all 1s ease
  width: 100%

  &:after
    color: $bright-blue
    content: attr(value) "/" attr(max)
    display: block
    font-weight: bold
    height: $line-base * 2 - 2px
    left: 0
    line-height: $line-base * 2 - 2px
    position: absolute
    text-align: center
    top: 0
    width: 100%

  &::-moz-progress-bar
    defaultProgress()
    margin-top: -3px
    -moz-transition: all 1s ease

  &::-webkit-progress-bar
    background-color: $black
    border-radius: $border-button-radius - 1 $border-button-radius - 1 $border-button-radius $border-button-radius

  &::-webkit-progress-value
    defaultProgress()
    -webkit-transition: all 1s ease

  &:indeterminate
    color: $dark-gray

    &:after
      color: $white
      content: "UNKNOWN PROGRESS"

    &::-moz-progress-bar
      progressColors("gray", "gray", "dark-gray", "white")
      -moz-animation-name: 'stripe-up'

    &::-webkit-progress-bar
      progressColors("gray", "gray", "dark-gray", "white")
      -webkit-animation-name: 'stripe-up'

    &::-webkit-progress-value
      border: 0

  &.in-danger
    color: $mid-red

    &:after
      color: $bright-red

    &::-moz-progress-bar
      progressColors("red")

    &::-webkit-progress-value
      progressColors("red")

  &.on-track
    color: $mid-green

    &:after
      color: $bright-green

    &::-moz-progress-bar
      progressColors("green")

    &::-webkit-progress-value
      progressColors("green")