@import 'nib'
@import '../normalize'
@import '../variables'
@import '../mixins'
@import '../grid'
@import '../typography'
@import '../components'

.clearfix
  clearfix()

html
  background: $black url("/images/dark_stripe.png") top left repeat
  color: $white
  font: $font-base $sans-serif
  line-height: $line-base

body
  margin: 0

header
  width: 100%

article
  width: 100%

section
  @extend .clearfix
  margin: 0 auto
  max-width: $container-width
  width: 100%

footer
  clear: both
  width: 100%

  hgroup
    float: none
    margin: 0 auto
    max-width: $container-width
    width: 100%

.slice
  @extend section
  background: $black
  box-shadow: 0 1px 0 rgba($gray, 0.3), inset 0 10px 10px -10px $true-black
  margin-bottom: $line-base
  max-width: 100%
  width: 100%

  section
    padding-top: $line-base

.slice-fiber
  @extend .slice
  background: $black url("/images/fiber.png") top left repeat
  box-shadow: 0 1px 0 rgba($white, 0.3), inset 0 1px 0 $true-black, inset 0 10px 10px -10px $true-black
  text-shadow: 0 2px 5px $black

.swatch
  span
    background: rgba($black,0.8)
    color: $white
    display: block
    float: left
    padding: ($line-base / 4)
    text-shadow: 0 2px 5px $black
    width: auto

  .dark-blue
    @extend .clearfix
    background: $dark-blue
    padding: ($line-base / 4)
    position: relative

  .mid-blue
    @extend .swatch .dark-blue
    background: $mid-blue

  .bright-blue
    @extend .swatch .dark-blue
    background: $bright-blue

  .dark-red
    @extend .swatch .dark-blue
    background: $dark-red

  .mid-red
    @extend .swatch .dark-blue
    background: $mid-red

  .bright-red
    @extend .swatch .dark-blue
    background: $bright-red

  .dark-yellow
    @extend .swatch .dark-blue
    background: $dark-yellow

  .mid-yellow
    @extend .swatch .dark-blue
    background: $mid-yellow

  .bright-yellow
    @extend .swatch .dark-blue
    background: $bright-yellow

  .dark-green
    @extend .swatch .dark-blue
    background: $dark-green

  .mid-green
    @extend .swatch .dark-blue
    background: $mid-green

  .bright-green
    @extend .swatch .dark-blue
    background: $bright-green


for num in 1..$columns
  #grid .grid-{num} span
    background: $true-black
    border-radius: 4px
    box-shadow: 0 0 0 1px $dark-gray
    display: block
    text-align: center

    &:hover
      background: $dark-gray
      box-shadow: 0 0 0 1px $gray